section.cases {
  background: image_url('bg-interna.png') center no-repeat;
  background-size: cover;

  h1 {
    color: white;
  }

  .breadcrumb-site {
    a {
      color: $white;
    }
    color: white;
  }

  h2 {
    font-size: 22px;
    color: $blue-medium;
    padding-bottom: 20px;
    @include breakpoint() {
      padding-bottom: 10px;
    }
  }

  .case-principal {
    padding: 80px 0 100px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .col-md-3 {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;

    img {
      border: 1px solid $blue-dark;
    }
  }

  .slider-bullet {
    bottom: -10% !important;
  }

  .card {
    margin-top: -5rem;
    padding: 30px;
  }
  .card-padding {
    padding: 30px;
    margin-top: 1rem;
  }
}